.App {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
}
.header {
  width: 100%;
  height: auto;
  display: flex;
  border-bottom: 1px solid rgb(17, 29, 92);;
}

.header-title {
  margin-left: 20px;
  font-weight: 700;
  font-family: sans-serif;
  color: rgb(17, 29, 92);
}


.welcome {
  display: flex;
  align-items: center;
  margin-top: 50px;
  flex-direction: column;
  color: rgb(17, 29, 92);
}

.welcome-button {
  width: auto;
  padding: 16px 24px;
  border-radius: 8px;
  border: none;
  background-color: #3f51ac;
  color: white;
  font-weight: 600;
  font-size: 18px;
  margin: 20px auto;
}

.welcome-button:hover {
  background-color: #2d41a7;
}

.question {
  margin-bottom: 42px;
  font-size: 24px;
  font-weight: 700;
}

.questionElement {
  border: 1px solid rgb(17, 29, 92);
  border-radius: 10px;
  max-width: 85%;
  margin: 40px auto;
  padding: 30px 50px;
  color: rgb(17, 29, 92);
}

.questionButton {
  border: 1px solid #293264;
  border-radius: 12px;
  padding: 10px 16px;
  margin-right: 30px;
  font-weight: 700;
  margin-bottom: 25px;
  color: rgb(17, 29, 92);
  font-size: 16px;
  cursor: pointer;

}

.answerSection {
  display: grid;
  grid-template: auto auto / 1fr 1fr;
}