.App {
  max-width: 1000px;
  margin: 0 auto;
}
.header {
  width: 100%;
  height: auto;
  display: flex;
  border-bottom: 1px solid rgb(17, 29, 92);;
}

.header-title {
  margin-left: 20px;
  font-weight: 700;
  font-family: sans-serif;
  color: rgb(17, 29, 92);
}